.sec_sp {
    margin-bottom: calc(3rem + 5.128vw)
}

.table td,
.table th {
    color: var(--text-color);
}

.t_border {
    border-color: var(--text-color) !important;
}
.container
{
    padding-bottom: 50px;
}
.progress-title {
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0 20px;
    font-family: 'Raleway';
}
.Uwindsorlogo
{
    width: 200px; 
    margin: 0 auto;
}
.logocontainer
{
    text-align: center;
    width: 100%;
}
.Heroimage-container
{   position:relative;
    max-width: 1140px;
    background-size: cover;
    margin-bottom: 40px;
    aspect-ratio: 2.22/1;
}
.BodyText
{
    margin-bottom: 30px;
    width: 100%;
}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers container */
    display: block;
  }
  
.hover-section
{
    position: absolute;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    
}
/* Position each section */
/* Position each section */
.section-1 {
    top: 46%;
    left: 38%;
    width: 21%; /* Use percentage for responsiveness */
    height: 28%;
  }
  
  .section-2 {
    top: 82%;
    left: 0%;
    width: 23%;
    height: 15%;
  }
  
  .section-3 {
    top: 82%;
    right: 0%;
    width: 24%;
    height: 15%;
  }
  .section-4 {
    top:12%;
    right: 0%;
    height: 59%;
    width: 21%;
  }
  .section-5 {
   
    top: 21%;
    right: 80%;
    height: 51%;
    width: 19%;
    
  }
  .section-6 {
    position: absolute;
    background-image: url(./Images/SecurityPlusBlack.png);
    background-size: cover;
    top: 16%;
    right: 45%;
    height: 25%;
    width: 13%;
  }
  .section-6:hover
  {
    background-image: url(./Images/SecurityPlusColor.png);
  }
.hover-section:hover {
     background: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
  }
  .hover-text {
    width: auto;
    opacity: 0;
    color: black;
    font-size: 40px;
    text-align: center;
    align-items: center;
  }
  
  .hover-section:hover .hover-text {
    opacity: 1;
    transform: translate(-50%, -50%); /* Move to center */
  }
.progress {
    height: 5px;
    background: var(--secondary);
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}

.progress .progress-bar {
    position: relative;
    background: var(--text-color);
    animation: animate-positive 2s;
    overflow: visible;
    opacity: 0.9;
}

.progress .progress-value {
    position: absolute;
    top: -30px;
    right: 8px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: var(--text-color);
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

.section-title {
    font-size: 45px;
}

.service__title {
    padding: 8px 0;
    border-bottom: solid 2px var(--secondary-color);
}

.service-section .service-category-title {
    padding-bottom: 4px;
}


/*! CSS Used keyframes */

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}